body{
    background-color: antiquewhite;
    font-style: italic;
    font-weight: 200;
}
h1{
    color: aqua;
}
h3{
    color: aqua;
}


hr{
    border border-style: none;
    border-top-style: dotted;
    border-color:grey;
    width: 5%;